@media screen and (max-width: 1440px) and (min-width:800px){

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-image: url(bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  background-repeat: repeat;
}

main {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.info {
  width: 40%;
  align-items: center;
  color: white;
  
}
.info h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  line-height: 52px;
  font-weight: 600;
  margin-bottom: 50px;
}
.paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}

.p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-right: 50%;
}

.box-shadow {
  padding: 30px 45px;
  border-radius: 15px;
  color: white;
  background-color: hsl(248, 32%, 49%);
  text-align: center;
  margin-bottom: 30px;
  width: 500px;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.15);
}
a {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
}

.form {
  background-color: white;
  padding: 40px 40px;
  border-radius: 15px;
  height: 450px;
  width: 500px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
}
/* 
<<<<<<< Updated upstream
input,
.button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
  border: 1px solid hsl(246, 25%, 77%);
  padding: 15px;
  border-radius: 4px;
  font-weight: 600;
}
 */
input,.button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    width: 100%;
    margin: 10px 0;
    border: 1px solid hsl(246, 25%, 77%);
    padding: 15px;
    border-radius: 4px;
    font-weight: 600; 
    }
  input:hover{
    background-image: url(icon-error.svg);
    background-repeat: no-repeat;
    background-position: 97% 49%;
    border: 2px solid hsl(0, 100%, 74%)
  }
   
.button {
  background-color: hsl(154, 59%, 51%);
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px hsl(154, 57%, 47%);
}
.button:hover{
  opacity: 0.6;
}

}




@media screen and (max-width:801px) and (min-width:375px) {
   body, main{
    display: flex;
    flex-direction: column;
   
    background-image: url(bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
  justify-content: center;
  margin: auto;
  }


   .info {
    width: 300px;
    align-items: center;
    color: white;
    text-align: center;
    
  }
  .info h1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 40px;}

    .paragraph {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        text-align: center;
        margin-top: 20px;}
   .p {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          margin-right: 50%;
          font-weight: 500;
        }
        

        .box-shadow {
          padding: 30px 45px;
          border-radius: 15px;
          color: white;
          background-color: hsl(248, 32%, 49%);
          text-align: center;
          margin-bottom: 30px;
          width: 220px;
          box-shadow: 0px 10px rgba(0, 0, 0, 0.15);
        }

        a {
          font-size: 16px;
          font-family: "Poppins", sans-serif;
          text-decoration: none;
          color: white;
        }
.form {
  background-color: white;
  padding: 40px 85px ;
  padding-left:35px ;
  border-radius: 15px;
  height: 500px;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
}

input,
.button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 5px 0;
  border: 1px solid hsl(246, 25%, 77%);
  padding: 25px ;
  border-radius: 10px;
  font-weight: 600;
}
.error-icon {
  background-image: url(icon-error.svg);
  background-repeat: no-repeat;
  background-position: 97% 49%;
  border: 2px solid hsl(0, 100%, 74%) !important;
}

.button {
  background-color: hsl(154, 59%, 51%);
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px hsl(154, 57%, 47%);
padding-right: 230px;
}


}